<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nonprofitapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Red Riding Hood"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.VolunteerActivity"
            android:parentActivityName=".activities.Foodbank_Selection_Page">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nonprofitapp.activities.Foodbank_Selection_Page" />
        </activity>
        <activity
            android:name=".activities.PickupDateSelectionActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.GroceryBagSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.GroceryBagSelectionActivity" />
        </activity>
        <activity
            android:name=".activities.ConfirmationActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.PickupTimeSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PickupTimeSelectionActivity" />
        </activity>
        <activity
            android:name=".activities.PickupTimeSelectionActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.PickupDateSelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PickupDateSelectionActivity" />
        </activity>
        <activity
            android:name=".activities.GroceryBagSelectionActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.Foodbank_Selection_Page">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.Foodbank_Selection_Page" />
        </activity>
        <activity
            android:name=".activities.Foodbank_Selection_Page"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENTACTIVITY"
                android:value="com.example.nonprofitapp.MainActivity" />
        </activity>
        <activity
            android:name=".activities.Window_Display"
            android:parentActivityName=".activities.ConfirmationActivity">
            <meta-data
                android:name="android.support.PARENTACTIVITY"
                android:value="com.example.nonprofitapp.ConfirmationActivity" />
        </activity>
        <activity android:name=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>